{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}


{% block body %}
    <style>
        input:checked + label {
            background-color: #2d3748;
        }
    </style>
<main class="min-h-screen">
    <form action="/quizz/{{ id }}/{{ currentScore }}" method="post">
    <div class="flex justify-center items-center content-center bg-teal-900 mt-24 sm:mx-[12.5%] xl:mx-[25%] shadow-2xl duration-300">
        <h1 class="content-center items-center text-white p-10">{{ question }}</h1>
    </div>

    <section class="flex flex-col sm:mx-[12.5%] xl:mx-[25%] duration-300">
        <div class="w-full flex flex-col lg:flex-row justify-between">
            <input type="radio" id="1" name="reponses" value=1 class="hidden" onclick="activateSubmit()">
                <label for="1" class="flex justify-center items-center content-center bg-green-800 mt-16 w-full lg:w-[40%] shadow-2xl duration-300 btn"><p class="content-center text-white py-10 lg:py-20 duration-300">{{ reponse1 }}</p></label>
            <input type="radio" id="2" name="reponses" value=2 class="hidden" onclick="activateSubmit()">
                <label for="2" class="flex justify-center items-center content-center bg-green-800 mt-5 lg:mt-16 w-full lg:w-[40%] shadow-2xl duration-300 btn"> <p class="content-center text-white py-10 lg:py-20 duration-300">{{ reponse2 }}</p></label>
        </div>
        <div class="w-full flex flex-col lg:flex-row justify-between">
            <input type="radio" id="3" name="reponses" value=3 class="hidden" onclick="activateSubmit()">
                <label for="3" class="flex justify-center items-center content-center bg-green-800 mt-5 lg:mt-16 w-full lg:w-[40%] shadow-2xl duration-300 btn"> <p class="content-center text-white py-10 lg:py-20 duration-300">{{ reponse4 }}</p></label>
            <input type="radio" id="4" name="reponses" value=4 class="hidden" onclick="activateSubmit()">
                <label for="4" class="flex justify-center items-center content-center bg-green-800 mt-5 lg:mt-16 w-full lg:w-[40%] shadow-2xl duration-300 btn"> <p class="content-center text-white py-10 lg:py-20 duration-300">{{ reponse3 }}</p></label>
        </div>
        <input type="hidden" name="currentScore" value={{ currentScore }}>
        <input type="hidden" name="id" value={{ id }}>
    </section>
    <div id="divSubmit" class="flex w-full self-center content-center justify-center items-center mt-[100%] hidden duration-500">
        <input type="submit" value="Valider" class="self-center content-center justify-center items-center p-8 px-20 bg-green-800 shadow-2xl mt-12 text-white rounded-2xl duration-300">
    </div>
    </form>
</main>
<script>
    function activateSubmit() {
        let btn = document.getElementById("divSubmit")
        btn.classList.remove("hidden")
        setTimeout(activateSubmit2, 100);

    }
    function activateSubmit2() {
        let btn = document.getElementById("divSubmit")
        btn.classList.remove("mt-[100%]")
    }

</script>
{% endblock %}
